

.mythicanimal{
    width: 100px;
    height: 100px;
}


div{
    background-color:rgb(59, 59, 59);
    margin: auto;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 15px;
    text-align: center;
}

p{
    font-family: Roboto Condensed;
    color: white;
    line-height: 1.5rem;
    font-size: 20px;
    
}

img{
    width: 500px;
    height: 500px;
}

a{
    color: lightcyan;
    text-decoration-line: none;
    font-size: 25px;
}

h1{
    color: white;
}

h2{
    font-family: "Reddit Sans", sans-serif;
    font-size: 35px;
}

